.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    background: linear-gradient(153deg, #294B0F 1.49%, #3F7F0D 29.45%, #48910F 48.72%, #52A611 70.41%, #71E517 87.76%);   

    gap: 20px;
    padding: 25px 0;
}
.subscribe .subscribeTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
} 

.subscribeTitle .subscribeIcon{
    width: 70px;
    height: 60px;
}

.subscribe .subscribeText{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subscribe input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px 26px;
    font-family: 'MontserratarmRegular',sans-serif;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    background: #FFF;    
}

.subscribe .subBtn{
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid #D9D9D9;
}